@model IEnumerable<EnrollmentWebApp.Domain.Entities.Enrollee>

@{
    ViewBag.Title = "Admin: All Enrollees";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="panel panel-default">
    <script>
        $(document).ready(function () {
            tree("tree", "/Admin/LoadNode");
        });
    </script>
    <div class="panel-heading">
        <h3>All Enrollees</h3>
    </div>
    <div class="panel-body">
        <div data-id="-1" class="form-group">
            <ul class="Container" id="tree">
                <li class="Node IsRoot IsLast ExpandClosed" data-id="0">
                    <div class="Expand"></div>
                    <input type="checkbox" />
                    <div class="Content">Университеты</div>
                    <ul class="Container"></ul>
                </li>
            </ul>
            <input type="button" class="btn btn-default" value="Show" onclick='TreeSearcher().loadData("table");' /> 
        </div>
        <div name="table">
            <table class="table table-striped table-condensed table-bordered">
                <tr>
                    <th>Surname</th>
                    <th class="text-right">Name</th>
                    <th class="text-center">Actions</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(item.Surname, "Edit", new { item.EnrolleeId })</td>
                        <td class="text-right">@item.Name</td>
                        <td class="text-center">
                            @using (Html.BeginForm("Delete", "Admin"))
                            {
                                @Html.Hidden("EnrolleeId", item.EnrolleeId)
                                <input type="submit"
                                       class="btn btn-default btn-xs"
                                       value="Delete" />
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Add a new enrollee", "Create", null,
        new { @class = "btn btn-default" })
    </div>
</div>

